<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test1">
    <classes>
      <class name="com.java.bookTest.ProductPageTestCases"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="com.java.bookTest.HomePageTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
